<h1><%= @survey.title %></h1>
<% if @mode == "design" %>
  <h5><a href="/design/surveys/<%= @survey.id %>/edit">Edit</a></h5>
<% end %>

<h3>Survey Questions</h3>
<% if @survey.questions.any? %>
  <ul class="questions">
    <% @survey.questions.sort{|a,b| a.number <=> b.number}.each do |question| %>
      <li>
        <%= question.number %>. <%= question.question_text %>

        <% if @mode == "design" %>
          <a href="/design/questions/<%= question.id %>/edit">Edit or Remove</a>
          <br>
          <% if question.answers.any? %>
            <ul class="answers">
              <% question.answers.sort{|a,b| a.id <=> b.id}.each do |answer| %>
                <li>
                  <p>
                    <%= answer.answer_text %>
                    <a href="/design/answers/<%= answer.id %>/edit">Edit or Remove</a>
                  </p>
                  <p><strong>Times Selected:</strong> <%= answer.user_count %></p>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No answers added</p>
          <% end %>

          <% error = false %>
          <% if @answer %>
            <% error = @answer.question_id == question.id %>
          <% end %>

          <form class="" action="/design/questions/<%= question.id %>/add-answer" method="post">
            <div class="form-group <%= error ? 'has-error' : nil %>">
              <label for="answer-text" class="control-label">Add a possible answer:</label>
              <input type="text" name="answer-text" class="form-control">
            </div>

            <% if (@answer != nil) & error %>
              <div class="alert alert-danger">
                 <% @answer.errors.full_messages.each do |message| %>
                   <%= message + " " %>
                 <% end %>
              </div>
            <% end %>

            <button type="submit" class="btn">Add</button>
          </form>

        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No questions added yet</p>
<% end %>

<% if @mode == "design" %>
  <h3>Add a Question</h3>

  <form class="" action="/design/surveys/<%= @survey.id %>/add-question" method="post">
    <div class="row">
      <div class="form-group col-xs-2">
        <label for="number" class="control-label">Number:</label>
        <input type="number" name="number" class="form-control" min=1 value="<%= @survey.questions.length + 1 %>">
      </div>

      <div class="form-group col-xs-10 <%= @question ? 'has-error' : nil %>">
        <label for="question-text" class="control-label">Question:</label>
        <input type="text" name="question-text" class="form-control">
      </div>
    </div>

    <% if @question %>
      <div class="alert alert-danger">
        <% @question.errors.full_messages.each do |message| %>
          <%= message + " " %>
        <% end %>
      </div>
    <% end %>

    <button type="submit" class="btn">Add Question</button>
  </form>
<% end %>
